[Unit]
Description=Joplin Desktop App
PartOf=workspace.target

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="WAYLAND_DISPLAY=wayland-1"
ExecStart=/usr/bin/joplin
Restart=on-failure
RestartSec=5

[Install]
WantedBy=workspace.target
