[Unit]
Description=Zotero
PartOf=workspace.target

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="WAYLAND_DISPLAY=wayland-1"
ExecStart=/usr/sbin/zotero
Restart=on-failure
RestartSec=5

[Install]
WantedBy=workspace.target
