[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	email = marc.perez.95@protonmail.ch
	name = Hieronymus
[credential]
	helper = cache
